div.shell{
    display: flex;
    font-family: sans-serif;
    .left{
        flex-shrink: 0;
        .wrapper{
            margin-top: 0.5em;
            margin-left: 2em;
            padding: 0.8em;
            padding-top: 1.6em;
            padding-bottom: 1.6em;
            border: 3px solid #333;
            border-radius: 1em;
            background-color: snow;
        }
        #iframe{
            border: 1px solid #999;
        }
    }
    .right{

        margin-left: 2em;
        margin-top: 0.5em;
        
        
        
        h4{
            font-size: 0.8em;
            color: #999;
        
            font-weight:normal;
            margin-bottom: 0em;
        }
        .controls{
            margin-top: 1em;

            
        }

    }
}


.error{
    color: red;
}

.output{
    display: flex;
    padding-top: 1em;
    justify-content: space-around;
}
.messages{
    width: 25em;
    font-size: 0.8em;
    border: 1px solid #999;
    padding: 1em;

    ul{
        list-style-type: none;
        margin-top: 0.5em;
        padding-left: 0em;
        color: #333;
    }
}
.callbacks{
    font-size: 0.8em;
    padding: 1em;
    border: 1px solid #999;
    width: 20em;

    ul{
        list-style-type: none;
        margin-top: 0.5em;
        padding-left: 0em;
        color: #333;
    }
    
}
.routeSelect{
    margin-top: 1em;
}